* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-color: black; */
  background: url(../img/iamge.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: red;
  text-align: center;
}
h1 {
  color: purple;
}
button {
  padding: 20px;
  margin: 25px;
  /* background: linear-gradient(90deg, pink, cyan, pink); */
  background: linear-gradient(45deg, rgb(0, 255, 251), rgb(6, 255, 31));
  color: chocolate;
  font-size: 14px;
  font-variant: small-caps;
  font-weight: 900;
  border-radius: 10%;
}
button:hover {
  /* background: linear-gradient(90deg, cyan, pink, cyan); */
  background: linear-gradient(90deg, rgb(6, 255, 31), rgb(0, 255, 251));
}
